<!-- Brand Logo -->
<!-- [routerLink]="['/']" -->
<a class="brand-link logo-switch" style="border-bottom:0px;">
    <!-- <img src="assets/img/CP-Group-logo 1.svg" alt="Logo" class="brand-image" style="opacity: .8" /> -->
    <img src="assets/img/logo.png" alt="Logo" class="brand-image" style="opacity: .8;width: 29px;height: auto;" />
    <h6 class="brand-text font-weight-light d-inline">Angular 15</h6>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2" style="overflow-y: hidden">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <app-menu-item *ngFor="let item of menu" [menuItem]="item"></app-menu-item>
        </ul>
    </nav>
</div>